@page "/admin/edit-roles/{roleid}"
@model TopCV.Areas.Admin.Pages.Role.EditModel
@{
    ViewData["Title"] = "Edit Role";
}
<h2>@ViewData["Title"]</h2>
<partial name="_StatusMessage" model="@Model.StatusMessage"></partial>
<hr>
<form method="post">
    <div class="form-group">
        <label asp-for="Input.Name"></label>
        <input asp-for="Input.Name" class="form-control" />
        <span asp-validation-for="Input.Name" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Edit</button>
</form>